/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main container styles */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Take up full viewport height */
  background-color: #ffffff; /* Background color for visibility */
}

/* Header styles */
.header {
  background-color: #2c3e50;
  min-height: 30px; /* Adjusted min-height for responsive header */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%; /* Added width to span the entire width */
  position: relative; /* Fixed position to keep the header at the top */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

/* Logo styles */
.logo {
  margin-top: 1%;
  max-height: 100%;
}

.title {
  text-align: center;
}

.venue {
  text-align: center;
  font-size: medium;
}

.venue-logo {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  height: auto;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  align-items: flex-end;
  margin-right: 1%;
  margin-top: 5%;
}

/* Tap data container styles */
.tap-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* Tap item styles */
.tap-item {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid #ccc;
  margin: 1%;
  border-radius: 10px;
  box-sizing: border-box;
  width: calc(33.33%);
  text-align: center;
}

.tap-item-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  padding: 2%;
  border: 1px solid #ccc;
  margin: 1%;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  width: calc(60%);
  height: calc(100vh);
  overflow: auto;
}

.tap-item-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  border: 1px solid #ccc;
  margin: 1%;
  border-radius: 10px;
  box-sizing: border-box;
  width: calc(50%);
  text-align: center;
}

/* Form container styles */
.serving-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5%;
  padding: 0%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3%;
  padding: 0%;
}
/* Tap content styles */
.tap-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

/* Glass image styles */
.glass-image {
  width: 100px;
  height: auto;
  margin-top: 5%;

  margin-right: 5%;
  margin-bottom: 5%;
}

/* Tap details styles */
.tap-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  font-size: large;
}

/* Tap details paragraph styles */
.tap-details p {
  margin: 8px 0;
}

/* Served text styles */
.served-text {
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}

.custom-amount {
  margin-top: 5%;
}

/* Served submit button styles */
.served-submit {
  background-color: #2c3e50;
  color: white;
  font-size: large;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4%;
}

/* Auth text styles */
.auth-text {
  width: 200px;
  padding: 10px;
  margin-top: 5%;
  margin: 3%;
  margin-left: 5%;
}

/* Auth title styles */
.auth-title {
  font-size: 3vw; /* Relative font size based on viewport width */
  margin-bottom: 3%;
}

/* Auth submit button styles */
.auth-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  font-size: medium;
  border: none;
  padding: 3% 10%;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5%;
}

.oz6,
.oz12,
.oz16,
.oz20,
.ml250,
.ml500,
.pinthalf,
.pint {
  background-color: #2c3e50;
  color: white;
  font-size: large;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4%;
}

.unit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
  width: 100%;
  margin-top: 1%;
  color: #2c3e50;
}

.serving-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Input container styles */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  height: 100%;
  width: 100%;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* Header styles */
  .header {
    min-height: auto; /* Let the header height adjust based on content */
    font-size: calc(8px + 1.5vmin);
    flex-direction: column; /* Stack the header content vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
  }

  .serving-form {
    display: flex;
    flex-direction: column;
  }

  /* Logo styles */
  .logo {
    margin-top: 5px;
    width: auto;
    height: auto;
    max-width: 50%; /* Set a maximum width to control image size */
    display: block; /* Ensure proper block-level display */
  }

  /* Logo container styles */
  .logo-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .icon-container {
    display: flex;
    position: relative;
    left: 1%;
    align-items: center;
    margin-top: 10px;
  }

  /* Tap data container styles */
  .tap-data-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4%;
    width: 90%;
  }

  /* Tap item styles */
  .tap-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 4% auto;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .tap-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 4% auto;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }

  /* Glass image styles */
  .glass-image {
    width: 60px;
    margin: 3% 0;
  }

  /* Tap details styles */
  .tap-details {
    width: 100%;
    font-size: medium;
  }

  /* Served submit button styles */
  .served-submit {
    flex-direction: column;
    font-size: medium;
    padding: 8px 15px;
  }

  /* Auth title styles */
  .auth-title {
    font-size: 5vw;
    margin-bottom: 5%;
  }

  /* Auth submit button styles */
  .auth-submit {
    margin-top: 6%;
    align-items: center;
  }
}
