* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('/Lato/Lato-Regular.ttf') format('truetype'),
    url('/Lato/Lato-Bold.ttf') format('truetype');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100dvh; /* Ensure it takes at least the full viewport height */
  background-color: #ffffff; /* Background color for visibility */
  height: 100%;
}

.header {
  background-color: #2c3e50;
  min-height: 80px; /* Use a fixed minimum height for better consistency */
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Auto for content, 1fr for the flexible logo area */
  align-items: center; /* Center items vertically */
  padding: 1em; /* Add some consistent padding around the header */
  color: white;
}

.brewfather-button {
  display: flex;
  align-items: center; /* Vertically align items in the button */
  justify-content: flex-start;
  margin-top: 8.5em;
  margin-left: 2em; /* Use em for spacing */
}

.button-title {
  padding-right: 0.5em; /* Use em for spacing relative to font size */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 1em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
}

.title {
  margin-top: 0.25em; /* Use em for spacing */
  margin-left: 0.3em; /* Use em for spacing */
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center content */
  margin-right: 2em; /* Use em for spacing */
  margin-top: 2em; /* Use em for spacing */
  padding-left: 4em;
  gap: 0.5em;
}

.venue-name {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}

.venue-logo {
  max-width: 80px; /* Use a fixed max-width */
  height: auto;
}

#unit-select {
  background-color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main-container {
    align-items: center; /* Center content horizontally on mobile */
  }

  .header {
    min-height: auto; /* Adjust header height for mobile if needed */
    padding: 10px 0; /* Add padding to the header on mobile */
    flex-direction: column; /* Stack header items if any */
  }

  .logo-container {
    position: relative; /* Make it relative on mobile */
    top: auto; /* Reset top */
    left: auto; /* Reset left */
    transform: none; /* Reset transform */
    width: 80%; /* Give it a width on mobile */
    margin-bottom: 20px; /* Add margin below logo-container on mobile */
  }
  .logo {
    margin-top: 1%;
    max-height: 100%;
    max-width: 100%; /* Limit logo width on mobile */
    height: auto;
  }

  .settings-container {
    position: relative; /* Make it relative on mobile */
    top: auto; /* Reset top */
    left: auto; /* Reset left */
    transform: none; /* Reset transform */
    width: 80%; /* Give it a width on mobile */
    margin-top: 1%; /* Add margin above settings-container on mobile */
  }

  .unit-container {
    flex-direction: column; /* Stack units in a column on mobile */
    align-items: center; /* Center items in the column */
  }

  .icon-container {
    align-items: center; /* Center icons on mobile */
    margin-top: 20px;
  }
  .venue-logo {
    width: 30%;
  }
}
