.brewfather-batch {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.brewfather-results {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 2%;
}

.recipe-name {
  margin-bottom: 5%;
}

@media screen and (max-width: 767px) {
  .brewfather-batch {
    margin: 5%;
  }
  .brewfather-results {
    flex-direction: column;
    align-items: center;
  }

  .recipe-name {
    margin-bottom: 5%;
  }
}
